body{
  background-color: #FFEAD0;
  font-family: "Raleway", sans-serif;
}


/* FORM */
*{margin:0px; padding:0px; font-family:"Raleway", Arial, sans-serif;}
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

#input{
  text-align: center;
}

.details{
  text-align: center;
}

.section-header{
  padding-top: 30px;
  padding-bottom: 10px;
}
/* RADIO BUTTONS */
.custom-control-label{
  padding-right: 50px;
}
